.low {
  color: green;
  font-size:6em;
}

.medium {
  color: black;
  font-size:6em;
}

.high {
  color: red;
  font-size:6em;
}

.container {
  display: table;
  width: 100%;
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  border-radius: 12px;
  border: none;
  color: white;
  outline: none;
}

button:hover {
  background-color: red;
  color: white;
}

input[type="submit"] {
  border-radius: 12px;
  border: none;
  color: white;
  outline: none;
  height: 29px;
  width: 215px;
}

input[type="submit"]:hover {
  background-color: red;
  color: white;
}

.leftSection {
  display: table-cell;
  background-color: #9db4ab;
  width: 50%;
  height:80vh;
  padding:0.5em;
  font-size: 1.2em;
}

.rightSection {
  display: table-cell;
  background-color: #ffd700;
  width: 50%;
  height:80vh;
  padding:0.5em;
  font-size: 1.2em;
}

#current-temperature {
  font-size:6em;
}

#current-city {
  font-size:1.2em;
  text-align: center;
}

.header {
  text-align: center;
  padding:0.5em;
  color:white;
  background-color: #696969;
  font-size: 2em;
  font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
  letter-spacing: .2em;
}

.footer {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  color:white;
  background-color: #696969;
  font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
  letter-spacing: .1em;
}
